<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1{% if page.url == '/' %}, minimal-ui{% endif %}">

    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    {% include shared/styles.html %}
  </head>

  <body class="{{ page.body_class }}">
    <!--[if lte IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include shared/nav.html %}
    <div class="content-primary">
      {{ content }}
    </div>

    {% include shared/scripts.html %}
    {% include shared/google-analytics.html %}
  </body>
</html>
