.home {
  &::after {
    @include position(fixed, 0 0 0 0);
    content: "";
    display: block;
    background: url("../images/allis-and-david-bw.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }

  .nav-toggle-wrap {
    background: transparent;
  }

  .welcome {
    @include animation-delay(0.75s);
    @include animation-duration(3s);
    @include position(fixed, null null 1em null);
    color: $white;
    padding: 0 0.75em;
    text-align: center;
    width: 100%;

    @include media($medium-up) {
      @include transform(translate(-50%, 0));
      bottom: 3em;
      left: 50%;
      width: auto;
    }

    h1 {
      font-size: 3em;
      font-family: $script;
      margin: 0 0 0.05em;
      line-height: 1em;

      @include media($medium-up) {
        font-size: 4em;
        white-space: nowrap;
      }

      .amp {
        display: block;
        font-size: 0.75em;
        line-height: 1.25em;

        @include media($medium-up) {
          display: inline-block;
        }
      }
    }

    h6 {
      font-size: 0.85em;
      margin-top: 0;
      white-space: nowrap;

      @include media($medium-up) {
        font-size: 1.15em;
      }
    }
  }

  .credit {
    @include animation-delay(0.75s);
    @include animation-duration(3s);
    @include position(absolute, null null 0.25em null);

    @include media($small-only) {
      text-align: center;
      width: 100%;
    }

    @include media($medium-up) {
      right: 0.5em;
    }
  }
}
