.registry {
  .post {
    max-width: rem(1800);
    text-align: center;
  }

  .locations {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    vertical-align: center;
  }

  .btn-logo {
    display: block;
    max-height: em(150);
    margin: 3em auto;

    @include media($small-only) {
      max-width: em(200);
    }

    @include media($medium-up) {
      margin: 2em 2%;
      vertical-align: middle;
      width: 15%;
    }
  }
}
