/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

body {
  background: black;

  &:after {
    @include position(fixed, 0 0 0 0);
    content: "";
    display: block;
    background: url("../images/allis-and-david.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;

    @include media($large-up) {
      opacity: 1;
    }
  }
}

.nav-primary {
  display: none;
}

.header-primary {
  text-align: center;
}

.welcome {
  @include position(fixed, 50% null null 50%);
  @include transform(translate(-50%, -50%));
  color: white;
  text-align: center;
  width: 100%;
  z-index: 10;

  @include media($medium-up) {
    bottom: 0.5em;
    top: auto;
  }

  @include media($large-up) {
    @include position(absolute, auto auto 1em 1em);
    @include transform(none);
    width: auto;
  }

  h1 {
    color: white;
    font-size: 3em;
    font-family: $script;
    margin-bottom: 0.15em;
    line-height: 1.15em;

    .amp {
      display: block;
      font-size: 0.5em;
      line-height: 1.45em;
    }
  }
}
