/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

.nav-primary {
  @include animation-delay(0.75s);
  @include position(fixed, 0 0 0 0);
  @include transform(translateY(-100%));
  @include transition(opacity 0.3s ease-in-out);
  background: transparentize($black, 0.5);
  font-size: 3em;
  font-weight: 300;
  padding-top: 1.25em;
  opacity: 0;
  overflow-y: auto;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  -webkit-overflow-scrolling: touch;

  // @include media($large-up) {
  //   @include transform(none);
  //   background: transparent;
  //   bottom: auto;
  //   left: auto;
  //   font-size: 0.85em;
  //   opacity: 1;
  //   padding-top: 0;
  //   right: auto;
  //   top: 1em;
  // }

  $nav-border: 1px solid transparentize($white, 0.85);

  a {
    display: block;
    border-bottom: $nav-border;
    padding: 0.25em;

    &:first-child {
      border-top: $nav-border;
    }

    &.active {
      @include link-variant($yellow-light);
    }
  }
}

.nav-primary.is-active {
  @include transform(none);
  opacity: 1;
}

body.nav-active {
  &:after,
  .content-primary {
    -webkit-filter: blur(2px);
  }
}

.header-primary {
  text-align: center;
}

.post {
  margin: 2em auto;
  max-width: em(600);
  padding: 0 2em;
}
