/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

.browsehappy {
  background: $red;
  text-align: center;
  z-index: 10;
}

.nav-toggle-wrap {
  @include position(fixed, 0 0 null 0);
  background: transparentize($base-background-color, 0.1);
  height: 3.15em;
  width: 100%;
  z-index: 200;

  @include media($medium-up) {
    background: transparent;
  }
}

.nav-primary {
  @include position(fixed, 0 0 0 0);
  @include transform(translateY(-100%));
  @include transition(opacity 0.3s ease-in-out);
  background: transparentize($black, 0.4);
  font-size: 2.75em;
  padding-top: 4rem;
  opacity: 0;
  overflow-y: auto;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  -webkit-overflow-scrolling: touch;

  @include media($medium-up) {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
  }

  $nav-border: 1px solid transparentize($white, 0.85);

  a {
    @include transition(background 0.3s ease-in-out);
    @include link-variant($white);
    display: block;
    border-bottom: $nav-border;
    font-weight: 300;
    padding: 0.25em;
    vertical-align: middle;
    text-decoration: none;

    @include media($medium-up) {
      width: 50%;
    }

    &:hover {
      background: transparentize($black, 0.75);
    }

    &:first-child {
      border-top: $nav-border;
    }

    &.active {
      @include link-variant($yellow);
    }
  }
}

.nav-primary {
  &.in {
    @include transform(none);
  }

  &.is-transitioning {
    opacity: 1;
  }
}

body::after,
.content-primary {
  @include transition(-webkit-filter 0.3s ease-in-out);
}


body.flyover-in {
  &::after,
  .content-primary {
    -webkit-filter: blur(3px);
  }
}

.header-primary {
  text-align: center;
}

.post {
  margin: 2em auto;
  max-width: em(700);
  padding: 0 1em;
}

iframe,
img {
  max-width: 100%;
}

img {
  height: auto;
}
