button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn {
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: $white;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
}

.btn-nav-toggle {
  @extend %button;
  @include position(fixed, 0.5em null null 0.5em);
  @include animation-delay(0.75s);
  color: $white;
  padding: 0.5em;
  z-index: 200;

  @include media($medium-up) {
    top: 0.5em;
    left: 0.5em;
  }

  i {
    font-size: 1.75rem;
    height: 30px;
    width: 24px;
  }

  .text {
    display: inline-block;
    font-size: 0.75em;
    margin: 0.15em 0 0 0.25em;
    text-transform: uppercase;
    vertical-align: text-top;

    @include media($small-only) {
      display: none;
    }
  }

  &.in i:before {
    content: '\f00d';
  }
}

.btn-logo {
  @extend %button;
  @include transition(opacity 0.3s ease-in-out);
  padding: 0;

  &:hover {
    opacity: 0.5;
  }

  > img {
    max-height: 100%;
    width: auto;
  }
}
