<div class="nav-toggle-wrap">
  <button type="button" id="js-nav-toggle" class="btn-nav-toggle {% if page.url == '/' %}fadeInDown animated{% endif %}" data-toggle="flyover" data-target="#nav-primary">
    <i class="fa fa-bars"></i>
    <span class="text"> Menu</span>
  </button>
</div>

<nav id="nav-primary" class="nav-primary">
  <a href="/"         class="{% if page.url == '/' %}active{% endif %}          ">Home</a>
  <a href="/story"    class="{% if page.url == '/story/' %}active{% endif %}    ">Story</a>
  <a href="/registry" class="{% if page.url == '/registry/' %}active{% endif %} ">Registry</a>
  <a href="/location" class="{% if page.url == '/location/' %}active{% endif %} ">Location</a>
  <a href="/lodging"  class="{% if page.url == '/lodging/' %}active{% endif %}  ">Lodging</a>
</nav>
