<button type="button" id="js-nav-toggle" class="btn-nav-toggle"><i class="fa fa-bars"></i></button>

<nav id="nav-primary" class="nav-primary">
  <a href="/"         class="{% if page.url == '/' %}active{% endif %}          ">Home</a>
  <a href="/stories"  class="{% if page.url == '/stories/' %}active{% endif %}  ">Stories</a>
  <a href="/registry" class="{% if page.url == '/registry/' %}active{% endif %} ">Registry</a>
  <a href="/location" class="{% if page.url == '/location/' %}active{% endif %} ">Location</a>
  <a href="/lodging"  class="{% if page.url == '/lodging/' %}active{% endif %}  ">Lodging</a>
</nav>
